{% extends "template.html" %}
{% block conteudo %}
      <form action="{{ url_for('atualizar') }}" method="post">
        <fieldset>
          <input type="hidden" name="id" value="{{ id }}"> <!-- #a referencia jogo.id foi substituida por apenas id pois o o bjeto completo não está mais sendo passado na view -->
          {{ form.csrf_token() }}
          <div class="form-group">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.categoria.label(class="form-label") }}
            {{ form.categoria(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.console.label(class="form-label") }}
            {{ form.console(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.imagem_jogo.label(class="form-label") }}
            {{ form.imagem_jogo(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.salvar(class="btn btn-primary") }}
            <a href="{{ url_for('index') }}">
              <button class="btn btn-primary" type="button" >Voltar</button></a>
          </div>
        
          <br>
          
          
        </fieldset>
      </form>
{% endblock %}