{% extends "template.html" %}
{% block conteudo %}
      <form action="{{ url_for('atualizar') }}" method="post">
        <fieldset>
          {{ form.csrf_token() }}
          <input type="hidden" name="id" value="{{ id }}"> <!-- #a referencia jogo.id foi substituida por apenas id pois o o bjeto completo não está mais sendo passado na view -->
          <div class="form-group">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
          <div class="form-group">
            {{ form.categoria.label(class="form-label") }}
            {{ form.categoria(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.console.label(class="form-label") }}
            {{ form.console(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.imagem_jogo.label(class="form-label") }}
            {{ form.imagem_jogo(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.salvar(class="btn btn-primary") }}
            <a href="{{ url_for('index') }}"><button class="btn btn-primary" type="button" >Voltar</button></a>
          </div>
        <!-- # trecho de código substituido pelo padrao de FlaskForm
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" value="{{ jogo.nome }}">
          </div>
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <input type="text" id="categoria" name="categoria" class="form-control" value="{{ jogo.categoria }}">
          </div>
          <div class="form-group">
            <label for="console">Console</label>
            <input type="text" id="console" name="console" class="form-control" value="{{ jogo.console }}">
          </div>
          <div class="form-group">
            <label for="imagem_jogo">Imagem on-line</label>
            <input type="text" id="imagem_jogo" name="imagem_jogo" class="form-control" value="{{ jogo.imagem_jogo }}"> 
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Atualizar</button>
        -->
          <br>
          
          
        </fieldset>
      </form>
{% endblock %}