{% extends "template.html" %}
{% block conteudo %}
        <a href="{{ url_for('login') }}"><button class="btn btn-primary" style="margin-bottom: 5px;" type="button">Login</button></a>
        <a href="{{ url_for('logout') }}"><button class="btn btn-danger" style="margin-bottom: 5px;" type="button">Logout</button></a>
        <a href="{{ url_for('novo') }}"><button class="btn btn-primary" style="margin-bottom: 5px;" type="button">Novo</button></a>

        <table class="table table-striped table-responsive table-bordered table-hover">
            <thead class="thead-default">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Console</th>
                    <th>Imagem Alura</th>
                    <th>Imagem nline</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              {% for jogo in jogos %}
                <tr>
                    <td>{{ jogo.id }}</td>
                    <td>{{ jogo.nome }}</td>
                    <td>{{ jogo.categoria }}</td>
                    <td>{{ jogo.console }}</td>
                    <td></td>
                    <td>
                        <img src="{{ jogo.imagem_jogo }}" width="70">
                    <td>
                        <a href="{{ url_for('editar', id=jogo.id) }}"><button class="btn btn-primary" type="button" >Editar</button></a>
                    </td>
                    <td><a href="{{ url_for('deletar', id=jogo.id) }}"><button style="background-color: red; border: none" class="btn btn-primary" type="button" >Deletar</button></a></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
  {% endblock %}